<a href="https://colab.research.google.com/github/Gshadow6/cyp_2021/blob/main/8_12_20__CYP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= 20
while (a>10):
  print(f"A ={a}")
  a -= 1 #a= a - 1

A =20
A =19
A =18
A =17
A =16
A =15
A =14
A =13
A =12
A =11

In [ ]:
suma_gas = 0
nom = 0
gasto = float(input("¿Cual es el gasto? "))
while (gasto != -1):
  nom = nom + gasto
  gasto = float(input("¿Cual es el gasto? "))
print(f"La nomina es {nom}")

¿Cual es el gasto?10
¿Cual es el gasto?20
¿Cual es el gasto?5
¿Cual es el gasto?8
¿Cual es el gasto?-1
La nomina es 43.0

In [ ]:
num= float(input("Ingrese el numero a potenciar "))
while (num != -1):
  cub= num**3
  print(f"El cubo de {num} es {cub}")
  num = float(input("Ingrese el numero a potenciar "))
print("Fin del programa")

Ingrese el numero a potenciar4
El cubo de 4.0 es 64.0
Ingrese el numero a potenciar3
El cubo de 3.0 es 27.0
Ingrese el numero a potenciar-1
Fin del programa

In [ ]:
#problema 3.1
sumpar = 0
sumimp = 0
cuepar = 0
propar = 0
i = 1
while (i <= 5):
  num = int(input("Introduce un numero entero "))
  if (num != 0):
    if ((-1)**num) > 0:
      print("Es par")
      sumpar = sumpar + num
      cuepar = cuepar + 1
    else:
      sumimp = sumimp + num
  i = i + 1
propar= sumpar/cuepar
print(f"El promedio de los pares es {propar}")
print(f"La suma de los impares es {sumimp}")

Introduce un numero entero 1
Introduce un numero entero 2
Es par
Introduce un numero entero 3
Introduce un numero entero 4
Es par
Introduce un numero entero 5
El promedio de los pares es 3.0
La suma de los impares es 9

In [ ]:
band = True
sumser = 0
i = 2
while i <= 1800:
  sumser = sumser + i
  print(f"{i}, " , end="")
  if band == True:
    band = False
    i = i + 3
  else:
    band = True
    i = i + 2
print(f"La suma de la serie es {sumser}")

2, 5, 7, 10, 12, 15, 17, 20, 22, 25, 27, 30, 32, 35, 37, 40, 42, 45, 47, 50, 52, 55, 57, 60, 62, 65, 67, 70, 72, 75, 77, 80, 82, 85, 87, 90, 92, 95, 97, 100, 102, 105, 107, 110, 112, 115, 117, 120, 122, 125, 127, 130, 132, 135, 137, 140, 142, 145, 147, 150, 152, 155, 157, 160, 162, 165, 167, 170, 172, 175, 177, 180, 182, 185, 187, 190, 192, 195, 197, 200, 202, 205, 207, 210, 212, 215, 217, 220, 222, 225, 227, 230, 232, 235, 237, 240, 242, 245, 247, 250, 252, 255, 257, 260, 262, 265, 267, 270, 272, 275, 277, 280, 282, 285, 287, 290, 292, 295, 297, 300, 302, 305, 307, 310, 312, 315, 317, 320, 322, 325, 327, 330, 332, 335, 337, 340, 342, 345, 347, 350, 352, 355, 357, 360, 362, 365, 367, 370, 372, 375, 377, 380, 382, 385, 387, 390, 392, 395, 397, 400, 402, 405, 407, 410, 412, 415, 417, 420, 422, 425, 427, 430, 432, 435, 437, 440, 442, 445, 447, 450, 452, 455, 457, 460, 462, 465, 467, 470, 472, 475, 477, 480, 482, 485, 487, 490, 492, 495, 497, 500, 502, 505, 507, 510, 512, 515, 517, 520, 522, 525, 527, 530, 532, 535, 537, 540, 542, 545, 547, 550, 552, 555, 557, 560, 562, 565, 567, 570, 572, 575, 577, 580, 582, 585, 587, 590, 592, 595, 597, 600, 602, 605, 607, 610, 612, 615, 617, 620, 622, 625, 627, 630, 632, 635, 637, 640, 642, 645, 647, 650, 652, 655, 657, 660, 662, 665, 667, 670, 672, 675, 677, 680, 682, 685, 687, 690, 692, 695, 697, 700, 702, 705, 707, 710, 712, 715, 717, 720, 722, 725, 727, 730, 732, 735, 737, 740, 742, 745, 747, 750, 752, 755, 757, 760, 762, 765, 767, 770, 772, 775, 777, 780, 782, 785, 787, 790, 792, 795, 797, 800, 802, 805, 807, 810, 812, 815, 817, 820, 822, 825, 827, 830, 832, 835, 837, 840, 842, 845, 847, 850, 852, 855, 857, 860, 862, 865, 867, 870, 872, 875, 877, 880, 882, 885, 887, 890, 892, 895, 897, 900, 902, 905, 907, 910, 912, 915, 917, 920, 922, 925, 927, 930, 932, 935, 937, 940, 942, 945, 947, 950, 952, 955, 957, 960, 962, 965, 967, 970, 972, 975, 977, 980, 982, 985, 987, 990, 992, 995, 997, 1000, 1002, 1005, 1007, 1010, 1012, 1015, 1017, 1020, 1022, 1025, 1027, 1030, 1032, 1035, 1037, 1040, 1042, 1045, 1047, 1050, 1052, 1055, 1057, 1060, 1062, 1065, 1067, 1070, 1072, 1075, 1077, 1080, 1082, 1085, 1087, 1090, 1092, 1095, 1097, 1100, 1102, 1105, 1107, 1110, 1112, 1115, 1117, 1120, 1122, 1125, 1127, 1130, 1132, 1135, 1137, 1140, 1142, 1145, 1147, 1150, 1152, 1155, 1157, 1160, 1162, 1165, 1167, 1170, 1172, 1175, 1177, 1180, 1182, 1185, 1187, 1190, 1192, 1195, 1197, 1200, 1202, 1205, 1207, 1210, 1212, 1215, 1217, 1220, 1222, 1225, 1227, 1230, 1232, 1235, 1237, 1240, 1242, 1245, 1247, 1250, 1252, 1255, 1257, 1260, 1262, 1265, 1267, 1270, 1272, 1275, 1277, 1280, 1282, 1285, 1287, 1290, 1292, 1295, 1297, 1300, 1302, 1305, 1307, 1310, 1312, 1315, 1317, 1320, 1322, 1325, 1327, 1330, 1332, 1335, 1337, 1340, 1342, 1345, 1347, 1350, 1352, 1355, 1357, 1360, 1362, 1365, 1367, 1370, 1372, 1375, 1377, 1380, 1382, 1385, 1387, 1390, 1392, 1395, 1397, 1400, 1402, 1405, 1407, 1410, 1412, 1415, 1417, 1420, 1422, 1425, 1427, 1430, 1432, 1435, 1437, 1440, 1442, 1445, 1447, 1450, 1452, 1455, 1457, 1460, 1462, 1465, 1467, 1470, 1472, 1475, 1477, 1480, 1482, 1485, 1487, 1490, 1492, 1495, 1497, 1500, 1502, 1505, 1507, 1510, 1512, 1515, 1517, 1520, 1522, 1525, 1527, 1530, 1532, 1535, 1537, 1540, 1542, 1545, 1547, 1550, 1552, 1555, 1557, 1560, 1562, 1565, 1567, 1570, 1572, 1575, 1577, 1580, 1582, 1585, 1587, 1590, 1592, 1595, 1597, 1600, 1602, 1605, 1607, 1610, 1612, 1615, 1617, 1620, 1622, 1625, 1627, 1630, 1632, 1635, 1637, 1640, 1642, 1645, 1647, 1650, 1652, 1655, 1657, 1660, 1662, 1665, 1667, 1670, 1672, 1675, 1677, 1680, 1682, 1685, 1687, 1690, 1692, 1695, 1697, 1700, 1702, 1705, 1707, 1710, 1712, 1715, 1717, 1720, 1722, 1725, 1727, 1730, 1732, 1735, 1737, 1740, 1742, 1745, 1747, 1750, 1752, 1755, 1757, 1760, 1762, 1765, 1767, 1770, 1772, 1775, 1777, 1780, 1782, 1785, 1787, 1790, 1792, 1795, 1797, 1800, La suma de la serie es 648720

In [ ]:
#Ejemplo de arreglos
"""
En python no existe el tipo de dato especial arreglo
En su lugar existe el tipo de dato nativo list que
funciona de manera muy semejante
Ejemplo: Declarar un arreglo de 7 elementos de tipo float para almacenar
sueldos
"""

sueldos = [0.0 for x in range (7)]
print(sueldos)
sueldos[0] = 200.5
print(sueldos)
sueldos[4] = 7.777
print(sueldos)

"""
En lenguaje C un arreglo se declara de la forma 
float[7]={0.0};
En java seria asi:
float [] sueldos = new int[7] = {0.0};

ambos, cambiar el valor del primer elemento
sueldos[0] = 44.44
"""

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[200.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[200.5, 0.0, 0.0, 0.0, 7.77, 0.0, 0.0]

In [ ]:
s= [0.0 for x in range (7)]
for j in range(7):
  s[j] = float(input("Ingrese el sueldo: "))
print(s)

print("------------------------------------")
for j in range(7):
  print(s[j])

Ingrese el sueldo: 1
Ingrese el sueldo: 2
Ingrese el sueldo: 3
Ingrese el sueldo: 4
Ingrese el sueldo: 5
Ingrese el sueldo: 6
Ingrese el sueldo: 7
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]
------------------------------------
1.0
2.0
3.0
4.0
5.0
6.0
7.0